<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1" thread-count="2" parallel="methods">
    <test name = "seleniumtests">
        <classes>
            <class name = "org.example.seleniumtests.SportExpertTests" >
            </class>
            <class name = "org.example.seleniumtests.LoginTest" >
                <methods>
                    <exclude name="IncorrectLogin"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>